.RecipesListItem {
  display: flex;
  flex-direction: column;
  border: solid 1px #e1e4e8;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  margin-top: 10px;

  &-header {
    padding: 15px;
    border-radius: 10px 10px 0 0;

    &--complete {
      background: linear-gradient(90deg, rgb(50, 173, 55) 0%, rgb(255, 229, 71) 100%);
    }

    &--partial {
      background: linear-gradient(90deg, rgb(255, 219, 48) 0%, rgb(217, 130, 64) 100%);
    }

    &--missing {
      background: linear-gradient(90deg, rgb(255, 141, 53) 0%, rgb(210, 35, 35) 100%);
    }

    &--name {
      font-weight: 700;
      color: #ffffff;

    }

    &--source {
      color: #eeeeee;
    }
  }

  &-ingredients {
    padding: 15px;
  }

}
