.Search {
  &-input {
    margin-top: 10px;
    width: 300px;
    padding: 5px 12px 5px 30px;
    font-size: 14px;
    line-height: 12px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    font-family: 'Montserrat', 'sans-serif';
  }

  .gg-search {
    position: absolute;
    top: 120px;
    left: 40px;
    display: block;
    text-align: center;
    pointer-events: none;
    height: 14px;
    width: 14px;
    color: #b3b3b3;
  }

  &-searchResults {
    padding: 8px;
    min-width: 324px;
    max-height: 270px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 5px;
    border: 1px solid #e1e4e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--ingredient {
      width: 100%;
    }

    &--ingredient:hover {
      background-color: #F0D06B;
      color: white;
      font-weight: 500;
    }
  }
}
